
// WRAPPER
.wrapper {
  width: 70%;
  margin: 0 auto;
}


// RECETTE IMAGE
.recipe__image {
  margin: 1em 0;
  width: 100%;
  background-image: url(https://picsum.photos/id/102/800/400);
  height: 350px;
  background-position: bottom;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
}

// RECETTE
.recipe__header__content {
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: -0.69px;
}

// OVERVIEW
.recipe__overview__item__item:first-child {
  align-self: stretch;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 75px;

}
.recipe__overview__item__item.no-circle {
border-color: transparent;
font-size: 1.5em;
}

.no-circle {
  border-color: white;
}

.recipe__overview__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.recipe__overview__title {
  padding-bottom: 0;
  margin-bottom: 0px;
}

hr {
  border-width: 2px;
  margin-top: 0;
}

.recipe__overview__item {
  margin: 1.2em 0;
  text-align: -webkit-center;
}


// INGREDIENTS
.recipe__ingredients__title {
  font-size: 1.5em;
  span {
    font-weight: bold;
  }
}
table {
  border-collapse: collapse;
  margin-bottom: 1em;
  width: 100%;
}

td, th {
  padding: 1.2em;
  height: 50px;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

td:first-child { font-weight: bold; }
tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f5f5f5;}
thead { background-color: #f5f5f5; }

.sub_table {
  color: grey;
}
